.processSection {
  min-height: calc(100vh - var(--height-header));
  display: flex;
  align-items: center;
  justify-content: center;
}

.processContainer {
  padding: var(--padding-huge) 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-layout);
}

/* contentBox */
.contentBox {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-content);
}

.title {
  font-size: var(--font-size-40);
}

.subTitle {
  font-size: var(--font-size-18);
  color: var(--text-400);
}

/* processWrapper */
.processWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: var(--gap-small);
  align-items: stretch;
}

.processBox {
  height: 100%;
  position: relative;
  padding: 3rem 0 0 3rem;
}

.processBox::before {
  content: "";
  width: 148px;
  height: 148px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff0e6;
  border-radius: 100%;
}

.process {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  box-shadow: 0px 0px 5px 2px rgba(126, 126, 126, 0.25);
  border-radius: 10px;
  padding: var(--padding-content);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--gap-content);
}

/* processWrapper - top */
.top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top img {
  width: 36px;
}

.processNumber {
  color: var(--primary-100);
  font-size: var(--font-size-28);
}

/* processWrapper - bottom */
.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-small);
}

.processTitle {
  font-size: var(--font-size-24);
  text-align: center;
}

.processSubTitle {
  font-size: var(--font-size-16);
  color: var(--text-400);

  text-align: center;
}

@media (min-width: 640px) {
  .processWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .processWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .contentBox {
    width: 100%;
    align-items: center;
  }

  .title {
    font-size: var(--font-size-32);
    text-align: center;
  }

  .subTitle {
    width: 100%;
    font-size: var(--font-size-16);
    text-align: center;
  }

  .button {
    font-size: var(--font-size-12);
  }

  .processWrapper {
    gap: var(--gap-content);
  }

  .processBox {
    padding: 1rem 0 0 1rem;
  }

  .processBox::before {
    top: -1rem;
    left: -1rem;
    width: 120px;
    height: 120px;
    background-color: var(--text-000);
    background-image: radial-gradient(
      circle at center,
      #fff0e6 0,
      rgba(255, 240, 230, 0) 100%
    );
  }

  .process {
    padding: var(--padding-medium);
    gap: var(--gap-small);
  }

  .top img {
    width: 32px;
  }

  .processNumber {
    font-size: var(--font-size-24);
  }

  .processTitle {
    font-size: var(--font-size-24);
  }

  .processSubTitle {
    font-size: var(--font-size-14);
  }
}
