.dropdownItem {
  width: max-content;
  text-align: center;
  font-size: var(--font-size-14);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0.8rem 1rem;
  transition: var(--transition-basic);
  cursor: pointer;
}

.dropdownItem:hover {
  color: var(--primary-100);
}

.dropdownItem img {
  width: 14px;
  transition: var(--transition-basic);
  object-fit: cover;
}

.dropdownItem:hover img {
  transform: scale(1.1);
}

@media screen and (max-width: 951px) {
  .dropdownItem {
    width: 100%;
    font-weight: 400;
    justify-content: flex-start;
    padding: var(--padding-button);
    border-radius: var(--border-radius-10);
  }

  .dropdownItem:hover {
    color: var(--text-100);
    background-color: var(--text-500);
  }
}
