.dropdown {
  min-width: 108px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: var(--text-000);
  border: 1px solid var(--text-600);
  border-radius: var(--border-radius-10);
  position: absolute;
  top: var(--height-header);
  left: 50%;
  transform: translateX(-50%);
}

.dropdown::before {
  content: "";
  width: 100%;
  height: 45px;
  position: absolute;
  top: -45px;
  left: 0;
}

@media screen and (max-width: 951px) {
  .dropdown.active {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    min-width: auto;
    border: none;
    border-radius: 0;
    transform: none;
  }

  .dropdown.active::before {
    display: none;
  }
}
