.company-timeline {
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  padding: 3rem 1.5rem;
}

.timeline-container {
  max-width: 1200px;
  margin: 0 auto;
}

.year-tabs-buttons {
  display: flex;
  gap: 3rem;
  align-items: flex-end;
  flex-wrap: wrap;
}

.year-button {
  font-weight: bold;
  font-size: 2rem;
  color: #777;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
}

.year-button.active {
  color: #fff;
  font-size: 3rem;
}

.year-button:hover {
  color: #ccc;
}

.year-line {
  position: relative;
  margin-top: 1.5rem;
  height: 1px;
  background-color: #444;
}

.year-dot {
  position: absolute;
  top: -4px;
  left: 4rem;
  width: 8px;
  height: 8px;
  background-color: #ccc;
  border-radius: 50%;
}

.timeline-entries {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: minmax(500px, 1fr) minmax(500px, 1fr);
  gap: 12px;
  column-gap: 10rem;
}

/* .timeline-item {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  align-items: flex-start;
} */

.timeline-item {
  display: flex;
  gap: 1.25rem; /* 항목 내 요소 간 간격도 조금 줄임 */
  margin-top: 1rem; /* 항목끼리 위 간격 줄이기 */
  align-items: flex-start;
}

.timeline-month {
  color: #888;
  font-size: 1.5rem;
  font-weight: 600;
}

.sr-only {
  font-size: var(--font-size-24);
}

.timeline-title {
  color: #fff;
  font-size: 1.75rem;
  font-weight: 800;
}

.timeline-description {
  margin-top: 0.5rem;
  color: #aaa;
  font-size: var(--font-size-18);
}

.timeline-month-group {
  margin-top: 4rem;
}

@media screen and (max-width: 1020px) {
  .timeline-entries {
    grid-template-columns: 1fr;
  }

  .timeline-month-group {
    margin-top: 2rem;
  }

  .company-timeline {
    padding: 4rem;
  }
}

@media screen and (max-width: 480px) {
  .timeline-title {
    font-size: var(--font-size-18);
  }

  .timeline-month {
    font-size: var(--font-size-16);
  }

  .timeline-description {
    font-size: var(--font-size-16);
  }

  .year-button {
    font-size: 1.25rem;
  }

  .year-button.active {
    font-size: 1.75rem;
  }

  .company-timeline {
    padding: 2rem;
  }

  .timeline-container {
    padding: 0 1rem;
  }
}
