.contactSection {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: auto;
  background-color: var(--text-200);
  color: var(--text-000);
}

.contactContainer {
  padding: var(--padding-huge) 0;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--gap-layout);
}

/* contactContent */
.contactContent {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-content);
}

.title {
  font-size: var(--font-size-32);
}

.description {
  font-size: var(--font-size-18);
}

.email {
  position: relative;
}

.emailButton {
  color: var(--text-000);
  background-color: rgba(255, 255, 255, 0.25);
  padding: var(--padding-button);
  border-radius: var(--border-radius-10);
  transition: var(--transition-basic);
}

.emailButton:hover {
  background-color: rgba(255, 255, 255, 0.45);
}

.modal {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  gap: var(--gap-small);
  top: 110%;
  left: 0;
  backdrop-filter: blur(2px);
  padding: var(--padding-small) 0;
  transition: var(--transition-basic);
}

.email:hover .modal {
  opacity: 1;
}

/* contactImages */
.contactImages img {
  width: 260px;
}

@media screen and (max-width: 1020px) {
  .contactContainer {
    justify-content: center;
  }

  .contactContent {
    align-items: center;
  }

  .title,
  .description {
    text-align: center;
  }

  .description {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}

@media screen and (max-width: 480px) {
  .contactContent {
    align-items: flex-start;
  }

  .title,
  .description {
    text-align: left;
  }

  .title {
    font-size: var(--font-size-24);
  }

  .description {
    font-size: var(--font-size-16);
  }

  .contactImages {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contactImages img {
    width: 200px;
  }
}
