.processSection {
  color: var(--text-000);
  background-color: var(--text-100);
}

.processContainer {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-layout);
  padding: var(--padding-huge) 0;
}

/* titleWrapper */
.titleWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-small);
}

.titleWrapper img {
  width: 32px;
  transform: scaleX(-1);
}

.title {
  font-size: var(--font-size-40);
}

.subTitle {
  font-size: var(--font-size-24);
}

/* contentsWrapper */
.contentsWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 1fr;
  align-items: start;
  gap: var(--gap-content);
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-medium);
  position: relative;
}

.processIndex {
  width: 52px;
  height: 52px;
  background-color: var(--primary-100);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-10);
  font-size: var(--font-size-24);
  font-weight: 500;
  color: #ffd7ca;
  margin-bottom: var(--margin-small);
}

.content:not(:last-child) .processIndex::before {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  top: 26px;
  left: 52px;
  background-color: var(--primary-100);
}

.processIndex img {
  width: 28px;
}

.contentsTitle {
  font-size: var(--font-size-24);
  font-weight: 600;
}

.description {
  font-size: var(--font-size-16);
  text-align: justify;
  color: var(--text-400);
  position: relative;
}

@media screen and (max-width: 480px) {
  .titleWrapper img {
    width: 36px;
  }

  .title {
    font-size: var(--font-size-24);
    text-align: center;
  }

  .subTitle {
    font-size: var(--font-size-16);
    text-align: right;
  }

  .processIndex {
    width: 42px;
    height: 42px;
    font-size: var(--font-size-18);
  }

  .content:not(:last-child) .processIndex::before {
    width: 98%;
    top: 21px;
    left: 42px;
  }

  .processIndex img {
    width: 24px;
  }

  .contentsTitle {
    font-size: var(--font-size-18);
  }

  .contentsSubTitle {
    font-size: var(--font-size-16);
  }

  .description {
    font-size: var(--font-size-16);
  }
}
