.openRolesSection {
  color: var(--text-000);
  background-color: var(--text-100);
  position: relative;
}

.openRolesSection::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: var(--text-500);
  opacity: 0.1;
}

.openRolesContainer {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-layout);
  padding: var(--padding-huge) 0 var(--padding-section) 0;
}

/* titleWrapper */
.titleWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-small);
}

.titleWrapper img {
  width: 32px;
}

.title {
  font-size: var(--font-size-40);
}

.subTitle {
  font-size: var(--font-size-24);
}

/* contentsWrapper */
.contentsWrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-layout);
}

.content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-content);
  position: relative;
}

/* contentsWrapper - department */
.department {
  width: 100%;
  font-size: var(--font-size-18);
  color: var(--primary-100);
  padding-bottom: var(--padding-content);
  border-bottom: 1px solid var(--text-200);
}

/* contentsWrapper - roles */
.roles {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-content);
}

a.role {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* contentsWrapper - roles - roleInfo */
.roleInfo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-small);
}

.roleInfoTitle {
  font-size: var(--font-size-24);
  font-weight: 600;
  color: var(--text-000);
  transition: var(--transition-basic);
}

.role:hover .roleInfoTitle {
  color: var(--text-400);
}

.roleInfoDetail {
  width: 100%;
  color: var(--text-400);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.roleInfoDetail li:not(:first-child) {
  padding-left: var(--padding-small);
}

.roleInfoDetail li:not(:last-child) {
  padding-right: var(--padding-small);
  position: relative;
}

.roleInfoDetail li:not(:last-child)::before {
  content: '';
  width: 2px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 100%;
  background-color: var(--text-200);
}

/* contentsWrapper - roles - applyLink */
.applyLink {
  color: var(--primary-100);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: var(--transition-basic);
}

.role:hover .applyLink {
  color: var(--text-000);
}

@media screen and (max-width: 480px) {
  .titleWrapper img {
    width: 36px;
  }

  .title {
    font-size: var(--font-size-24);
    text-align: center;
  }

  .subTitle {
    font-size: var(--font-size-16);
  }

  .content {
    gap: var(--gap-medium);
  }

  .department {
    font-size: var(--font-size-16);
    padding-bottom: var(--padding-medium);
  }

  .roleInfoTitle {
    font-size: var(--font-size-18);
  }

  .roleInfoDetail {
    font-size: var(--font-size-14);
  }

  .roleInfoDetail li:not(:last-child) {
    padding-right: 0.5rem;
  }

  .applyLink {
    display: none;
  }
}
