.heroSection {
  min-height: calc(100vh - var(--height-header));
  color: var(--text-000);
  background-color: var(--text-100);
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-layout);
}

.image {
  width: 320px;
}

.contents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-content);
}

.title {
  font-size: var(--font-size-48);
}

.subTitle {
  font-size: var(--font-size-18);
  text-align: center;
}

.recruitButton {
  padding: 0.8rem 1.2rem;
  color: var(--text-000);
  background-color: var(--primary-100);
  border-radius: var(--border-radius-10);
  transition: var(--transition-basic);
}

.recruitButton:hover {
  background-color: var(--secondary-100);
}

@media screen and (max-width: 480px) {
  .heroContainer {
    padding: var(--padding-huge) 0;
  }

  .image {
    width: 300px;
  }

  .title {
    font-size: var(--font-size-24);
    text-align: center;
  }

  .subTitle {
    font-size: var(--font-size-16);
  }

  .button {
    font-size: var(--font-size-14);
  }
}
