.introSection {
  color: var(--text-000);
  background-color: var(--text-100);
}

.introContainer {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-layout);
  padding: var(--padding-huge) 0;
}

/* titleWrapper */
.titleWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-small);
}

.titleWrapper img {
  width: 32px;
  transform: scaleX(-1);
}

.title {
  font-size: var(--font-size-40);
}

.subTitle {
  font-size: var(--font-size-24);
}

/* contentsWrapper */
.contentsWrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--gap-small);
  align-items: stretch;
}

.content {
  flex: 1 1 calc(33.333% - 1rem);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--gap-medium);
  padding: 2rem;
  border: 1px solid var(--text-200);
  border-radius: var(--border-radius-10);
  background-color: var(--text-100);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.contentTop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-small);
}

.contentTop img {
  width: 52px;
}

.contentsTitle {
  font-size: var(--font-size-28);
  font-weight: 600;
}

.descriptionWrapper {
  text-align: justify;
  color: var(--text-400);
  padding-top: var(--padding-medium);
  position: relative;
}

.descriptionWrapper::after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--text-200);
}

.contentsSubTitle {
  font-size: var(--font-size-16);
  margin-bottom: 0.5rem;
  color: var(--text-000);
  font-weight: 500;
}

.description {
  font-size: var(--font-size-16);
}

@media screen and (max-width: 1020px) {
  .contentsWrapper {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 480px) {
  .titleWrapper img {
    width: 36px;
  }

  .contentsWrapper {
    justify-content: space-around;
  }

  .title {
    font-size: var(--font-size-24);
    text-align: center;
  }

  .subTitle {
    font-size: var(--font-size-16);
  }

  .contentsTitle {
    font-size: var(--font-size-24);
  }

  .contentsSubTitle {
    font-size: var(--font-size-16);
  }

  .description {
    font-size: var(--font-size-16);
  }
}
