.postBox {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-content);
}

/* postImage */
.postImage {
  width: 100%;
  height: 160px;
  border-radius: var(--border-radius-10);
  border: 1px solid var(--text-600);
  overflow: hidden;
}

.postImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-basic);
}

.postBox:hover img {
  transform: scale(1.1);
}

/* postInfo */
.postInfo {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-small);
}

.title {
  font-size: var(--font-size-24);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  transition: var(--transition-basic);
}

.postBox:hover .title {
  color: var(--primary-100);
}

.description {
  color: var(--text-300);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.filterOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: var(--font-size-14);
  color: var(--text-400);
}

.filter {
  position: relative;
  padding-right: 10px;
}

.filter::after {
  content: "";
  width: 2px;
  height: 14px;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  background-color: var(--text-600);
}

@media screen and (max-width: 480px) {
  .postImage {
    height: 100px;
  }

  .title {
    font-size: var(--font-size-18);
  }

  .description {
    font-size: var(--font-size-14);
  }

  .filterOptions {
    white-space: nowrap;
    font-size: var(--font-size-12);
  }
}
