.stepSection {
  padding: var(--padding-section) 0;
}

.stepContainer {
  flex-direction: column;
  gap: var(--gap-huge);
  box-sizing: border-box;
}

/* stepContent */
.stepContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.stepContent h2 {
  font-size: var(--font-size-40);
}

.stepContent h2:last-child {
  color: var(--primary-100);
}

.stepImage {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--gap-content);
}

.imageBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.imageBox img {
  width: 12.5vw;
  max-width: 240px;
  opacity: 0;
  transform: scale(0.95);
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
}

.imageBox img.activeImage {
  opacity: 1;
  transform: scale(1);
}

.progressBox {
  width: 100%;
  padding: 0 80px;
  box-sizing: border-box;
  position: relative;
}

.progress {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress li {
  width: 160px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress li:first-child {
  justify-content: flex-start;
}

.progress li:last-child {
  justify-content: flex-end;
}

.progress li p {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: var(--text-600);
  transition: var(--transition-basic);
  z-index: 998;
}

.progress li .activeP {
  transform: scale(1.8);
  background-color: var(--primary-100);
  position: relative;
}

.progress li .lastP::after {
  content: "";
  background-image: url("/assets/home/check-icon.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
}

.progressBar {
  content: "";
  width: calc(100% - 160px);
  height: 20px;
  position: absolute;
  top: 0;
  left: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progressBar li {
  width: 50%;
  height: 4px;
  background-color: var(--text-600);
  transition: background-color 0.3s ease;
}

.progressBar li.activeLi {
  background-color: var(--primary-100);
}

.stepBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.step {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
}

.activeStep {
  opacity: 1;
  transform: translateY(0);
}

.step p {
  font-size: var(--font-size-18);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.step p:nth-child(1) {
  font-size: var(--font-size-24);
  color: var(--primary-100);
  font-weight: 600;
  padding-bottom: var(--padding-small);
}

@media screen and (max-width: 640px) {
  .imageBox img {
    width: 160px;
    display: none !important;
  }

  .stepImage .imageBox {
    justify-content: center;
  }

  .stepImage .imageBox img.lastImage {
    display: block !important;
  }
}

@media screen and (max-width: 480px) {
  .stepContent h2 {
    font-size: var(--font-size-32);
  }

  .progress li p {
    width: 7px;
    height: 7px;
  }

  .progressBar li {
    height: 2px;
  }

  .step p {
    font-size: var(--font-size-14);
  }
}
