.heroContainer {
  min-height: var(--height-full);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--gap-layout);
}

/* heroContent */
.heroContent,
.heroImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroContent {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-layout) 0;
  gap: var(--gap-content);
}

.heroTitle {
  font-size: var(--font-size-48);
  color: var(--primary-100);
}

.heroDescription {
  font-size: var(--font-size-18);
  color: var(--text-300);
}

/* heroImage */
.heroImage {
  width: 429px;
  height: 760px;
}

.heroImage video {
  object-fit: cover;
  display: block;
}

/* downloadButtons */
.downloadButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-small);
}

.downloadButton {
  color: var(--text-000);
  background-color: var(--text-200);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-small);
  padding: var(--padding-button);
  border-radius: var(--border-radius-10);
  transition: var(--transition-basic);
}

.downloadButton:hover {
  box-shadow: var(--box-shadow-medium);
}

.downloadButton img {
  width: 22px;
  height: 22px;
}

@media screen and (max-width: 480px) {
  .heroContainer {
    gap: 0;
  }

  .heroContent {
    padding-bottom: 0;
  }

  .heroTitle {
    font-size: var(--font-size-32);
  }

  .heroImage {
    width: 300px;
    height: auto;
    padding-bottom: var(--padding-layout);
  }

  .heroDescription {
    font-size: var(--font-size-16);
  }

  .downloadButton {
    font-size: var(--font-size-12);
  }
}
