.roadmapSection {
  position: relative;
  width: 100%;
  padding: 4rem 0 5rem;
  text-align: center;
  color: var(--primary-100);
}

.roadmapSection::before {
  content: '';
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.container {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.title {
  font-size: 2.1rem;
  font-weight: 700;
  color: var(--text-100);
  letter-spacing: -0.02em;
  margin-bottom: 1rem;
  min-height: 2.6rem;
}

.iconDesc {
  font-size: 0.85rem;
  color: #94a3b8;
  line-height: 1.6;
  max-width: 200px;
  margin: 0 auto;
  white-space: pre-line;
}

.active .iconDesc {
  color: var(--text-100);
}

.iconItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  text-align: center;
  max-width: 240px;
}

.desc {
  font-size: 1.05rem;
  color: var(--text-200);
  max-width: 640px;
  margin: 0 auto 4.5rem;
  line-height: 1.8;
  min-height: 3.6rem;
}
.space {
  display: block;
}

.iconGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem 1rem;
  justify-items: center;
  /* align-items: center; */
}

.active {
  color: var(--primary-300);
  filter: drop-shadow(0 6px 16px rgba(96, 165, 250, 0.25));
  filter: drop-shadow(0 6px 16px rgba(255, 174, 71, 0.25));
}

.inactive {
  color: #475569;
  opacity: 0.6;
}

.iconLabel {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-300);
  letter-spacing: -0.01em;
}

/* 반응형 */
@media (max-width: 1100px) {
  .iconGrid {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem 1rem;
  }
}

@media (max-width: 875px) {
  .title {
    font-size: 1.8rem;
  }

  .desc {
    font-size: 0.96rem;
    line-height: 1.7;
    margin-bottom: 3rem;
  }

  .iconGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
  }

  .iconLabel {
    font-size: 0.85rem;
  }

  .desc p {
    display: block;
    margin-bottom: 0.8rem;
    white-space: normal;
    word-break: keep-all;
  }

  .desc .space::before {
    content: '\A';
    display: block;
    height: 0.2rem;
  }
}
