.contentSection {
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-huge) 0;
  margin: 0 auto;
}

.contentContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-layout);
  padding-bottom: var(--padding-huge);
}

.showNoPostMessage {
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1020px) {
  .contentSection {
    width: 80vw;
  }

  .contentContainer {
    align-items: center;
  }
}
