.postItem {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-content);
}

.postContents {
  width: 70%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-small);
}

.postBody {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-size: 21px;
  font-weight: 600;
  transition: var(--transition-basic);
}

.postItem:hover .title {
  color: var(--primary-100);
}

.description {
  font-size: var(--font-size-16);
  color: var(--text-300);
  font-weight: 300;
}

.postInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: var(--font-size-14);
  font-weight: 300;
  color: var(--text-300);
}

.postInfo p:first-child {
  position: relative;
  padding-right: 8px;
}

.postInfo p:first-child::after {
  content: "";
  width: 2px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  background-color: var(--text-600);
}

.postImage {
  width: 180px;
  height: 120px;
  border: 1px solid var(--text-600);
  border-radius: var(--border-radius-10);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.postImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-basic);
}

.postItem:hover .postImage img {
  transform: scale(1.1);
}

@media screen and (max-width: 767px) {
  .postItem {
    align-items: flex-start;
  }

  .postContents {
    gap: 8px;
    text-overflow: hidden;
  }

  .title {
    font-size: var(--font-size-14);
  }

  .description {
    width: 100%;
    font-size: var(--font-size-12);
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .postImage {
    width: 100px;
    height: 70px;
  }

  .postInfo {
    font-size: var(--font-size-12);
  }
}
