/* mainContent */
.mainContent {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-layout);
}

.mainContent .titleBox,
.mainContent .contentBox {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-small);
}

.mainContent .titleBox {
  gap: var(--gap-xsmall);
}

.mainContent .titleBox .title,
.mainContent .contentBox .content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: var(--gap-small);
}

/* mainContent - titleBox */
.mainContent .titleBox .title {
  font-size: var(--font-size-28);
  font-weight: 600;
}

.mainContent .titleBox .description {
  font-weight: 400;
}

/* mainContent - contentBox */
.mainContent .contentBox .content {
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
}

.mainContent .contentBox h3 {
  font-size: var(--font-size-24);
  font-weight: 500;
}

.mainContent .contentBox h4 {
  font-size: var(--font-size-18);
  font-weight: 500;
}

.mainContent .contentBox .contentTitle {
  width: 100%;
  padding-bottom: var(--padding-small);
  border-bottom: 1px solid var(--text-500);
}

/* mainContent - contentBox - params */
.params {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap-small);
}

.param {
  display: flex;
  gap: var(--gap-small);
  padding-left: var(--padding-small);
  position: relative;
}

.param::before {
  content: '';
  width: 4px;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: var(--text-400);
  border-radius: var(--border-radius-20);
}

.param .code {
  font-weight: 400;
}

.param .type {
  font-size: var(--font-size-14);
  color: var(--text-300);
}
