.filterBarWrapper {
  width: 100%;
}

.filterBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-small);
  border-bottom: 2px solid var(--text-600);
  margin: 0;
}

@media screen and (max-width: 767px) {
  .filterBarWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .filterBar {
    max-width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
    gap: 10px;
  }
}
