.overlay {
  position: fixed;
  inset: 0;
  background: black;
  z-index: 9999;
  opacity: 1;
  transition: opacity 1s ease;

  animation: fadeOut 1.2s ease 6s forwards;

  overflow: hidden;
  height: 100vh;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: auto;
  filter: contrast(105%) saturate(105%);
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
